/*----FONTS----*/
@import url(http://fonts.useso.com/css?family=Cantarell:700|Open+Sans:300&subset=cyrillic-ext);

/*--TERMINAL BODY--*/
.cssterm {
  font-family: monospace; line-height: 1em;
  font-size: 11px;
  width: 100%;
  min-height: 50%;
  background-color: #000;
  line-height: 1.5em;
}


.cssterm p { color: gray!important; }

.cssterm p::-moz-selection { background: #0b209e; }

.cssterm root { color: red!important; }

.cssterm user { color: lime!important; }

.cssterm p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*---BLINK EFFECT---*/

@keyframes blink
{
  0%   { background:rgba(99,222,0,100); }
  100% { background:rgba(99,222,0,0); }
}

@-webkit-keyframes blink {
  0%   { background:rgba(99,222,0,100); }
  100% { background:rgba(99,222,0,0); }
}
@-moz-keyframes blink {
  0%   { background:rgba(99,222,0,100); }
  100% { background:rgba(99,222,0,0); }
}
