body {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: Ubuntu Mono;
  font-size: 11px;
}
.term {
  height: 100%;
  overflow: scroll;
}
pre {
  color: #ddd;
}
